@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
/*
COLORS
*/
/*
KANBAN BOARD
*/
/*
EDIT VARIABLES
*/
/*
DELETE VARIABLES
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1rem;
  background: #f4f4f8; }

.app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #f4f4f8; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4d525b;
  width: 100%;
  padding: 6px 8px 8px 8px;
  color: white;
  text-transform: uppercase; }

.nav__title {
  padding: 5px; }

.new-task-btn,
.new-column-btn {
  margin: 4px;
  background: transparent;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  .new-task-btn:hover,
  .new-column-btn:hover {
    background: white;
    color: #4d525b; }

.add-form {
  display: none;
  position: absolute;
  top: 43px;
  width: 80%;
  padding: 8px 12px;
  background: #4d525b;
  z-index: 999; }
  .add-form.add-form--display {
    display: block; }

.add-form__input {
  margin: 5px; }

.add-form__add-card-btn {
  margin: auto;
  padding: 5px 8px;
  border: 1px solid white;
  float: right;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  .add-form__add-card-btn:hover {
    background: white;
    color: #4d525b; }

.kanban-board {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 600px;
  width: 100%; }

.column {
  width: 33.3%;
  background: white;
  overflow: hidden;
  border-right: 1px dotted; }
  .column:last-child {
    border-right: none; }
  .column .column__heading {
    text-transform: uppercase;
    margin: 10px;
    background: transparent;
    cursor: pointer; }
    .column .column__heading:hover .delete--column {
      opacity: 1; }
  .column .column__cards {
    height: 92%;
    overflow: auto; }
  .column.column--over {
    border: 1px dotted #4d525b; }

.heading__text {
  text-align: center; }

.heading__input input {
  width: 100%; }

.card {
  display: flex;
  margin: 0 5px 5px 5px;
  padding: 2px 5px;
  font-size: 14px;
  position: relative; }

.card__controls {
  display: flex;
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding-right: 3px;
  top: 2px;
  right: 5px; }

.card__controls--hover:hover .card__controls {
  visibility: visible; }

/*
EDIT
*/
.card__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.edit {
  width: 20px;
  height: 20px;
  background: transparent; }

.edit__wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.pencil {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 4px;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #666666; }
  .pencil:before, .pencil:after {
    content: '';
    display: block;
    position: absolute; }
  .pencil:before {
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #666666 transparent transparent; }
  .pencil:after {
    top: 0;
    left: 100%;
    height: 4px;
    width: 2px;
    transform: translateX(1px);
    background: #666666; }
  .pencil:hover {
    background: rgba(255, 255, 0, 0.7);
    transition: background 0.2s ease; }
  .pencil:hover:before {
    border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
    transition: border-color 0.2s ease; }
  .pencil:hover:after {
    background: rgba(255, 105, 180, 0.7);
    transition: background 0.2s ease; }

/*
DELETE
*/
.delete {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px; }
  .delete:before, .delete:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #666666;
    cursor: pointer; }
  .delete:before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .delete:after {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .delete:hover:before, .delete:hover:after {
    background: rgba(255, 0, 0, 0.4);
    transition: background 0.2s ease; }

.delete--card {
  margin-top: 2px; }

.delete--column {
  opacity: 0;
  transition: opacity 0.35s ease; }

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 5px;
  font-size: 10px; }
  .card__content h2 {
    margin: 0; }

.card__assignments {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.card__assigned-to {
  font-weight: 900; }

.card--low {
  background: rgba(0, 255, 0, 0.2);
  border-left: 8px solid rgba(0, 153, 0, 0.2); }

.card--medium {
  background: rgba(255, 255, 0, 0.2);
  border-left: 8px solid rgba(153, 153, 0, 0.2); }

.card--high {
  background: rgba(255, 0, 0, 0.2);
  border-left: 8px solid rgba(153, 0, 0, 0.2); }

.card--dragging {
  opacity: 0.4; }

.edit-form {
  padding-top: 10px;
  width: 100%; }

.edit-form__input,
.edit-form__select {
  display: block;
  margin-bottom: 3px; }

.edit-form__input {
  width: 100%; }

.edit-form__select {
  cursor: pointer; }

.edit-form__edit-card-btn {
  background: white;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer; }
  .edit-form__edit-card-btn:hover {
    border-color: black;
    color: black; }
