@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
/*
COLORS
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em; }

.app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; }

.nav {
  width: 100%;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4d525b;
  color: white;
  text-transform: uppercase; }
  .nav .nav__new-task-btn {
    padding: 5px;
    border: 1px solid white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background: transparent;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    cursor: pointer; }
    .nav .nav__new-task-btn:hover {
      background: white; }
      .nav .nav__new-task-btn:hover:hover a {
        color: #4d525b; }
  .nav a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background: transparent;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    cursor: pointer; }

.form {
  display: none;
  position: absolute;
  top: 43px;
  width: 80%;
  padding: 8px 12px;
  background: #4d525b;
  z-index: 999; }
  .form.form--display {
    display: block; }

.form__input {
  margin: 5px; }

.form__add-card-btn {
  margin: auto;
  padding: 5px 8px;
  border: 1px solid white;
  float: right;
  background: transparent;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  .form__add-card-btn:hover {
    background: white;
    color: #4d525b; }

.kanban-board {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 500px;
  width: 100%; }

.column {
  width: 33%;
  background: white;
  overflow: hidden; }
  .column .column__heading {
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    background: rgba(255, 255, 255, 0.8); }
  .column .column__cards {
    height: 92%;
    overflow: auto; }
  .column.over {
    border: 1px dashed #4d525b; }

.inProgress {
  border-left: 1px solid #4d525b;
  border-right: 1px solid #4d525b; }

.low,
.medium,
.high,
.blocker {
  margin: 0 5px 5px 5px;
  padding: 2px 5px;
  font-size: 14px;
  position: relative; }

.low {
  clear: both;
  background: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 153, 0, 0.2); }

.medium {
  clear: both;
  background: rgba(255, 255, 0, 0.2);
  border: 1px solid rgba(153, 153, 0, 0.2); }

.high {
  clear: both;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(153, 0, 0, 0.2); }

.blocker {
  clear: both;
  background: rgba(51, 153, 255, 0.2);
  border: 1px solid rgba(0, 102, 204, 0.2); }

.floatRight {
  float: right; }

.delete {
  position: absolute;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  .delete:hover {
    font-weight: 900; }

.over {
  border: 1px dotted grey; }
