@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$f: 'Source Sans Pro', sans-serif;
$sml: 12px;

/*
COLORS
*/
$nav: rgba(77, 82, 91, 1);
$low: rgba(0, 255, 0, 0.2); // green
$medium: rgba(255, 255, 0, 0.2); // yellow
$high: rgba(255, 0, 0, 0.2); // red
$blocker: rgba(51, 153, 255, 0.2); // blue
$done: rgba(128, 128, 128, 0.2); // grey

*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin trans {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin whiteLinkText {
  background: transparent;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $f;
  font-size: $sml;
  letter-spacing: 0.1em;
}

.app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav {
  width: 100%;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $nav;
  color: white;
  text-transform: uppercase;

  .nav__new-task-btn {
    padding: 5px;
    border: 1px solid white;
    @include trans;
    @include whiteLinkText;

    &:hover {
      background: white;

      &:hover a {
        color: $nav;
      }
    }
  }

  & a {
    @include trans;
    @include whiteLinkText;
  }
}

.form {
  display: none;
  position: absolute;
  top: 43px;
  width: 80%;
  padding: 8px 12px;
  background: $nav;
  z-index: 999;

  &.form--display {
    display: block;
  }
}

.form__input {
    margin: 5px;
}

.form__add-card-btn {
  margin: auto;
  padding: 5px 8px;
  border: 1px solid white;
  float: right;
  @include whiteLinkText;
  @include trans;

  &:hover {
    background: white;
    color: $nav;
  }
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 500px;
  width: 100%;
}

.column {
  width: 33%;
  background: white;
  overflow: hidden;

  & + .column {
    border-left: 1px dotted $nav;
  }

  .column__heading {
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    background: rgba(255, 255, 255, 0.8);
  }

  .column__cards {
  height: 92%;
  overflow: auto;
  }

  &.column--over {
    border: 1px dashed $nav;
  }
}

.card {
  margin: 0 5px 5px 5px;
  padding: 2px 5px;
  font-size: 14px;
  position: relative;
}

.card--low {
  background: $low;
  border: 1px solid darken($low, 20%);
}

.card--medium {
  background: $medium;
  border: 1px solid darken($medium, 20%);
}

.card--high {
  background: $high;
  border: 1px solid darken($high, 20%);
}

.card--blocker {
  background: $blocker;
  border: 1px solid darken($blocker, 20%);
}

.card--opacity {
  opacity: 0.4;
}

.floatRight {
  float: right;
}

.card__delete {
  position: absolute;
  text-transform: uppercase;
  cursor: pointer;
  @include trans;

  &:hover {
    font-weight: 900;
  }
}