@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$f: 'Source Sans Pro', sans-serif;
$base-font-size: 12px;
$nav-title-size: 16px;
$card-title-font-size: 14px;
$card-content-font-size: 10px;

/*
COLORS
*/
$offwhite: #FBFBFC;
$blue: #58A4B0;
$green: #BAEA8A;
$yellow: #FED766;
$red: #FE4A49;
$dark-grey: #4c4c4c;
$popup-dark: rgba(0,0,0, 0.7);

/*
KANBAN BOARD
*/
$kanban-board-height: 600px;

/*
EDIT VARIABLES
*/
$edit-scale: 1;
$pencil-scale: 1;

$edit-width: 20px * $edit-scale;
$edit-height: 20px * $edit-scale;

$pencil-body-length: 10px * $pencil-scale;
$pencil-body-thickness: 4px * $pencil-scale;
$pencil-eraser-length: 2px * $pencil-scale;
$pencil-eraser-gap: 1px * $pencil-scale;

/*
DELETE VARIABLES
*/
$delete-scale: 1;

$delete-width: 15px * $delete-scale;
$delete-height: 15px * $delete-scale;
$delete-thickness: 3px * $delete-scale;
$delete-end-roundness: 2px * $delete-scale;
$delete-card-margin-top: 2px * $delete-scale;

/*
POPUP VARIABLES
*/
$popup-font-size: $base-font-size * 2;
$popup-width: 250px;

@mixin trans {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $f;
  font-size: $base-font-size;
  letter-spacing: 0.1rem;
  background: $offwhite;
}

.app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: $offwhite;
}

.nav {
  display: flex;
  font-weight: 900;
  font-size: $nav-title-size;
  justify-content: space-between;
  align-items: center;
  background: $blue;
  width: 100%;
  padding: 6px 8px 8px 8px;
  color: white;
  text-transform: uppercase;
}

.nav__title {
  padding: 5px;
  cursor: pointer;
}

.add-form {
  display: none;
  position: absolute;
  top: 43px;
  width: 80%;
  padding: 8px 12px;
  background: $blue;
  z-index: 999;

  &.add-form--display {
    display: block;
  }
}

.add-form__input {
    margin: 5px;
}

.add-form__add-card-btn {
  margin: auto;
  padding: 5px 8px;
  border: 1px solid white;
  float: right;
  @include trans;

  &:hover {
    background: white;
    color: $blue;
  }
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $kanban-board-height;
  width: 100%;
}

.column {
  position: relative;
  width: 33.3%;
  background: white;
  overflow: hidden;
  border-right: 1px dotted;

  &:last-child {
    border-right: none;
  }

  .column__heading {
    text-transform: uppercase;
    margin: 16px;
    background: transparent;
    cursor: pointer;

    &:hover .delete--column {
      opacity: 1;
    }
  }

  .column__cards {
  height: 92%;
  overflow: auto;
  }

  &.column--over {
    border: 1px dotted $blue;
  }
}

.heading__text {
  text-align: center;
}

.heading__input input{
  width: 100%;
}

.card {
  display: flex;
  margin: 0 5px 5px 5px;
  padding: 2px 5px;
  font-size: $card-title-font-size;
  position: relative;
  background: $offwhite;
}

.card__controls {
  display: flex;
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding-right: 3px;
  top: 2px;
  right: 5px;
}

.card__controls--hover:hover .card__controls {
  visibility: visible;
}

/*
EDIT
*/
.card__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit {
  width: $edit-width;
  height: $edit-height;
  background: transparent;
}

.edit__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.pencil {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $pencil-body-length;
  height: $pencil-body-thickness;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: $dark-grey;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: ($pencil-body-thickness / 2);
    border-color: transparent $dark-grey transparent transparent;
  }

  &:after {
    top: 0;
    left: 100%;
    height: $pencil-body-thickness;
    width: $pencil-eraser-length;
    transform: translateX($pencil-eraser-gap);
    background: $dark-grey;
  }

  &:hover {
    background: $yellow;
    transition: background 0.2s ease;
  }

  &:hover:before {
    border-color: transparent $dark-grey transparent transparent;
    transition: border-color 0.2s ease;
  }

  &:hover:after {
    background: $red;
    transition: background 0.2s ease;
  }
}

/*
DELETE
*/
.delete {
  position: relative;
  display: inline-block;
  width: $delete-width;
  height: $delete-height;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: $delete-thickness;
    border-radius: $delete-end-roundness;
    background: $dark-grey;
    cursor: pointer;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
    background: $red;
    transition: background 0.2s ease;
  }
}

.delete--card {
  margin-top: $delete-card-margin-top;
}

.delete--column {
  opacity: 0;
  transition: opacity 0.35s ease;
  position: absolute;
  top: 4px;
  left: 5px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 5px;
  font-size: $card-content-font-size;

  h2 {
    margin: 0;
  }
}

.card__assignments {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__assigned-to {
  font-weight: 900;
}

.card--low {
  border-left: 8px solid $green;
}

.card--medium {
  border-left: 8px solid $yellow;
}

.card--high {
  border-left: 8px solid $red;
}

.card--dragging {
  opacity: 0.4;
}

/*
EDIT FORM
*/

.edit-form {
  padding-top: 10px;
  width: 100%;
}

.edit-form__input,
.edit-form__select {
  display: block;
  margin-bottom: 3px;
}

.edit-form__input {
  width: 100%;
}

.edit-form__select {
  cursor: pointer;
}

/*
POPUP
*/
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  background: $popup-dark;
}

.popup__content {
  position: absolute;
  text-align: center;
  width: $popup-width;
  margin: auto;
  background: $offwhite;
}

.popup__content--header {
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 900;
  font-size: $popup-font-size;
  color: $offwhite;
  width: 100%;
}

.popup--onload {
  background: $blue;
}

.popup--error {
  background: $red;
}

/*
BUTTONS
*/

.btn {
  font-family: $f;
  letter-spacing: 0.1rem;
  font-weight: 900;
  margin: 4px;
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  @include trans;
}

.new-task-btn,
.new-column-btn {
  background: transparent;
  color: white;
  border-color: white;

  &:hover {
    color: $blue;
    background: $offwhite;
  }
}

.edit-form-btn__err-text {
  display: none;
  margin: 2px;

  &:before {
    content: '*';
    color: $red;
  }
}

.edit-form__edit-card-btn {
  background: white;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border-color: black;
    color: black;
  }
}

.popup-close-btn--onload {
  background: $blue;
  color: $offwhite;
}

.popup-close-btn--error {
  background: $red;
  color: $offwhite;
}