@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$f: 'Source Sans Pro', sans-serif;
$base-font-size: 12px;
$card-title-font-size: 14px;
$card-content-font-size: 10px;

/*
COLORS
*/
$nav: rgba(77, 82, 91, 1);
$low: rgba(0, 255, 0, 0.2);
$medium: rgba(255, 255, 0, 0.2);
$high: rgba(255, 0, 0, 0.2);
$blocker: rgba(51, 153, 255, 0.2);
$done: rgba(128, 128, 128, 0.2);
$controls: lighten(black, 40%);

/*
KANBAN BOARD
*/
$kanban-board-height: 500px;

/*
EDIT VARIABLES
*/
$edit-scale: 1;
$pencil-scale: 1;

$edit-width: 20px * $edit-scale;
$edit-height: 20px * $edit-scale;

$pencil-body-length: 10px * $pencil-scale;
$pencil-body-thickness: 4px * $pencil-scale;
$pencil-eraser-length: 2px * $pencil-scale;
$pencil-eraser-gap: 1px * $pencil-scale;

/*
DELETE VARIABLES
*/
$delete-scale: 1;

$delete-width: 15px * $delete-scale;
$delete-height: 15px * $delete-scale;
$delete-thickness: 3px * $delete-scale;
$delete-end-roundness: 2px * $delete-scale;


*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin trans {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin whiteLinkText {
  background: transparent;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $f;
  font-size: $base-font-size;
  letter-spacing: 0.1em;
}

.app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav {
  width: 100%;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $nav;
  color: white;
  text-transform: uppercase;

  .nav__new-task-btn,
  .nav__new-column-btn {
    padding: 5px;
    border: 1px solid white;
    @include trans;
    @include whiteLinkText;

    &:hover {
      background: white;
      color: $nav;
    }
  }

  & a {
    @include trans;
    @include whiteLinkText;
  }
}

.add-form {
  display: none;
  position: absolute;
  top: 43px;
  width: 80%;
  padding: 8px 12px;
  background: $nav;
  z-index: 999;

  &.add-form--display {
    display: block;
  }
}

.add-form__input {
    margin: 5px;
}

.add-form__add-card-btn {
  margin: auto;
  padding: 5px 8px;
  border: 1px solid white;
  float: right;
  @include whiteLinkText;
  @include trans;

  &:hover {
    background: white;
    color: $nav;
  }
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $kanban-board-height;
  width: 100%;
}

.column {
  width: 33%;
  background: white;
  overflow: hidden;

  .column__heading {
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    background: transparent;
    cursor: pointer;
  }

  .column__cards {
  height: 92%;
  overflow: auto;
  }

  &.column--over {
    border: 1px dashed $nav;
  }
}

.card {
  display: flex;
  margin: 0 5px 5px 5px;
  padding: 2px 5px;
  font-size: $card-title-font-size;
  position: relative;
}

.card__controls {
  display: flex;
  position: absolute;
  top: 2px;
  right: 5px;
}

/*
EDIT
*/
.card__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit {
  width: $edit-width;
  height: $edit-height;
  background: transparent;
}

.edit__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.pencil {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $pencil-body-length;
  height: $pencil-body-thickness;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: $controls;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: ($pencil-body-thickness / 2);
    border-color: transparent $controls transparent transparent;
  }

  &:after {
    top: 0;
    left: 100%;
    height: $pencil-body-thickness;
    width: $pencil-eraser-length;
    transform: translateX($pencil-eraser-gap);
    background: $controls;
  }
}

/*
DELETE
*/
.card__delete {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  width: $delete-width;
  height: $delete-height;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: $delete-thickness;
    border-radius: $delete-end-roundness;
    background: $controls;
    cursor: pointer;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 5px;
  font-size: $card-content-font-size;

  h2 {
    margin: 0;
  }
}

.card__assignments {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__assigned-to {
  font-weight: 900;
}

.card--low {
  background: $low;
  border: 1px solid darken($low, 20%);
}

.card--medium {
  background: $medium;
  border: 1px solid darken($medium, 20%);
}

.card--high {
  background: $high;
  border: 1px solid darken($high, 20%);
}

.card--blocker {
  background: $blocker;
  border: 1px solid darken($blocker, 20%);
}

.card--opacity {
  opacity: 0.4;
}

.edit-form {
  padding-top: 10px;
  width: 100%;
}

.edit-form__input,
.edit-form__select {
  display: block;
  margin-bottom: 3px;
}

.edit-form__input {
  width: 100%;
}
